*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
.image{
    width :30%;
    border-color: rgb(13, 14, 13);
   
    border-radius: 10px;
}
.title{
    margin-top: 10px;
    font-size: medium;
    font-style: italic;
    
}