*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
.image{
    /* margin-top: 100px; */
    width :25%;
    border-color: rgb(13, 14, 13);
    
    border-radius: 10px;
    
}
.title{
    margin-top: 10px;
    font-size: medium;
    font-style: italic;
    width: 100%;
     text-align: justify;
  text-justify: inter-word;
    
    
}
.para{
    width: 100%;
    color: gray;
    position: relative;
   
    /* left: 300px; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
  text-justify: inter-word;
    
   
}
.container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    margin:80px ;
   
}
.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     position: relative;
    /* margin-top: 100px; */
    /* margin-block: 80px; */
    left: 100px;
    align-items: right;
}
.btn-read-more{
    width: 80px;
    height: 30px;
    border-radius: 10%;
    
}